[user]
	email = igray78756@gmail.com
	name = Iain Gray

[init]
	defaultBranch = main
	templatedir = ~/.git_template

[core]
  pager = delta

[alias]
  pf = push --force-with-lease
  hard-reset = reset --hard @{u}
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
  patch = "!git --no-pager diff"
  glog = log --graph --decorate --oneline

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[fetch]
  prune = true
[rebase]
	autosquash = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
