[Unit]
Description=hourly remote backup

[Timer]
# see systemd.time(7) manual page for other scheduling options
OnCalendar=*-*-* 00/6:10:00
# run immediately if we missed a backup for some reason
Persistent=true

[Install]
WantedBy=timers.target
