@import "./colors/solarized.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: "M+2 Nerd Font Propo";
  font-size: 13px;
  font-weight: normal;
}

window#waybar {
  background-color: @base03;
  color: @base3;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
  margin: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base02;
}

tooltip label {
  color: @base3;
}

#workspaces {
  border-radius: 5px;
  transition: none;
  background: @base02;
  margin: 5px 0px 5px 5px;
}

#workspaces button{
  color: @base3;
  background: @base02;
  border-radius: 5px;
  padding: 0px 8px 0px 8px;
  margin: 0;
}

#workspaces button:hover {
  background: @cyan;
  color: @base3;
}

#workspaces button.active {
  color: @base03;
  background: @violet;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#memory,
#mpris,
#custom-dunst,
#custom-powermenu {
  padding: 0px 20px 0px 20px;
  margin:5px 0px 5px 0px;
	border-radius: 5px;
  color: @violet;
  background-color: @base02;
}

/* ========= APP LAUNCHER ========= */

#custom-launcher {
  font-size: 14px;
  color: @base02;
  background-color: @violet;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin: 5px 5px 5px 5px;
}

/* ========= CLOCK ========= */

#clock.icon {
  font-size: 14px;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 10px 0px 10px;
}

#clock.time {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 11px 0px 5px;
}

/* ========= DATE ========= */

#clock.dateicon {
  font-size: 14px;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 10px 0px 10px;
}

#clock.date {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 11px 0px 5px;
}

/* ========= NOTIFICATIONS ========= */

#custom-dunst {
  font-size: 14px;
  padding: 0px 24px 0px 19px;
  margin: 5px 26px 5px 5px;
  background-color: @base02;
}

/* ========= VOLUME ========= */

#pulseaudio.icon {
  font-size: 14px;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 5px 0px 10px;
}

#pulseaudio.sound {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 10px 0px 5px;
}

/* ========= NETWORK ========= */

#network.icon {
  font-size: 14px;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 5px 0px 10px;
}

#network.strength {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 10px 0px 5px;
}

/* ========= BATTERY ========= */

#battery.icon {
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 5px 0px 10px;
}

#battery.value {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 10px 0px 5px;
}

/* ========= WINDOW ========= */

#window.icon {
  color: @violet;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 10px;
  padding: 0px 10px 0px 10px;
}

#window.title {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 11px 0px 10px;
}

/* ========= CPU ========= */

#cpu.icon {
  color: @violet;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 5px 0px 10px;
}

#cpu.usage {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 10px 0px 5px;
}

/* ========= TEMPERATURE ========= */

#temperature.icon {
  font-size: 14px;
  color: @violet;
  background-color: @base02;
	border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 5px;
  padding: 0px 5px 0px 10px;
}

#temperature.value {
  color: @base3;
  background-color: @base02;
	border-radius: 0px 5px 5px 0px;
  margin: 5px 5px 5px 0px;
  padding: 0px 11px 0px 10px;
}

#custom-powermenu {
  color: @base02;
  background-color: @violet;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  margin: 5px 5px 5px 5px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#mpris {
  font-size: 14px;
  background-color: @base02;
	border-radius: 5px;
  margin: 5px;
  padding: 0px 10px;
}
